:root{
    --BodyBg: rgb(243, 243, 243);
    --LightAsh: #e0e0e0;
    --DarkBlue: #3A2850;
    --LightBlue: #453759;
    --White: #fff;
    --DimWite: #999;
}

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
    background: var(--BodyBg);
    padding: 2em;
}

.hidden {
    display: none;
}

.app1, form input, button,
.task{
    padding: 1em;
}

.task, .fa-trash{
    cursor: pointer;
}

.app{
    width: 400px;
    max-width: 100%;
    height: 80vh;
    color: var(--LightAsh);
    border-radius: 5px;
    background: var(--DarkBlue);
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 1px;
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: transparent;
}

header{
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--DarkBlue);
    box-shadow: 0px 0px 0px 0.01em var(--LightAsh);
}
form{
    display: flex;
    margin: 0.7em 0;
    justify-content: space-between;
    background: var(--LightBlue);
}

form input{
    width: 90%;
    max-width: 80%;
    border: none;
    outline: none;
    font-size: 15px;
    background: transparent;
    font-style: italic;
    color: var(--White);
}

form button{
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: var(--LightAsh);
    display: flex;
    justify-content: center;
}

/*====Todo List Design====*/
.todo-list{
    padding: 2em;

}

.todo-list .task{
    width: 100%;
    max-width: 100%;
    margin-top: 0.5em;
    margin-left: -1.1em;
    font-style: italic;
    text-transform: capitalize;
    font-size: 0.9em;
    display: flex;
    background: var(--LightBlue);
    justify-content: space-between;
    flex-direction: row;
    border-radius: 5px;
}

.todo-list .task div{
    display: flex;
    /* white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}
span{
    display: flex;
}
.fa{
    padding: 0.5em;
    border-radius: 100%;
}
span.fa:hover{
    background: var(--DarkBlue);
}
.fa-pencil{
    margin: 0 18px;
}